@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');

/* Applies to every page */
html {
    font-family: 'Roboto Slab', sans-serif;
    /* background-color: white; */
    background-color: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* For everything on the main page */
.main {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.name {
    width: 100%;
    font-size: 30px;
    letter-spacing: .15em;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 15%;
    /* text-align: center; */
}

.homeLinkText {
    font-size: 15px;
    margin-lefT: 15%;
}

.homeLink {
    color: var(--links);
}

.blogs {
    margin-left: 15%;
    margin-top: 5%;
    display: flex;
    width: 100%;
    text-align: center;
}

.post {
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
    min-height: 20%;
    max-height: 20%;
    background-color: var(--UABGreen);
    border-radius: 16px;
    padding: 2%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    /* opacity: 0.5; */
    text-decoration: none;
    color: white;
}

.post #blogTitle {
    /* color: var(--date); */
    color: var(--blogTitle);
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 0;
}

.post a:hover {
    color: var(--cream);
    text-decoration: none;
    opacity: 1;
}

.blogTitle {
    /* text-decoration: #7A7D7D dotted underline; */
    text-decoration: none;
    color: var(--title);
    font-size: 30px;
    margin-top: 5%;
}

.blogTitle:hover {
    /* color: #7A7D7D; */
    /* color: #F19953; Orange */
    color: var(--cream);
}

.blogDate {
    color: var(--date);
}

/* For the actual blogs themselves */
.blogPostTitle {
    margin-top: 5%;
    color: var(--UABGreen);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.blogPostDesc {
    color: var(--text);
    text-align: center;
    font-size: 20px;
}

hr {
    background-color: #DFF8EB;
    width: 80%;
    margin: auto;
    text-align: center;
}

.leftArrow {
    font-size: 16px;
}

.goBack {
    color: white;
    /* text-align: center; */
    margin-left: 10%;
    text-decoration: none;
    /* background-color: #DFF8EB;
    border-radius: 12px;
    padding: .6%; */
    font-size: 14px;
}

.goNext {
    color: var(--white);
    text-decoration: none;
    /* margin-right: 10%; */
    text-align: center;
    text-align: right;
    font-size: 14px;
}

.blogPostContent {
    margin-left: 5%;
    color: var(--text);
    margin-right: 5%;
}

.blogPostContent h2,
h3,
h4 {
    color: var(--cream);
}

.blogPostContent li::marker {
    color: var(--red);
}

.blogPostContent strong {
    color: var(--red);
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background-color: black;
    border-radius: 10px;
}