@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');

/* Applies to every page */
html {
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--deepBlue);
}

/* For everything on the main page */
.main {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.name {
    color: var(--date);
    width: 100%;
    font-size: 20px;
    letter-spacing: .15em;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 15%;
    /* text-align: center; */
}

.homeLinkText {
    color: white;
    font-size: 13px;
    margin-lefT: 15%;
}

.homeLink {
    color: var(--date);
}

.blogs {
    width: 100%;
    text-align: center;
}

.blogTitle {
    /* text-decoration: #7A7D7D dotted underline; */
    text-decoration: none;
    color: var(--title);
    font-size: 30px;
    margin-top: 5%;
}

.blogTitle:hover {
    /* color: #7A7D7D; */
    /* color: #F19953; Orange */
    color: var(--cream);
}

.blogDate {
    color: var(--date);
}

/* For the actual blogs themselves */
.blogPostTitle {
    margin-top: 5%;
    color: var(--date);
    text-align: center;
}

hr {
    background-color: #DFF8EB;
    width: 80%;
    margin: auto;
}

.leftArrow {
    font-size: 16px;
}

.goBack {
    color: white;
    /* text-align: center; */
    margin-left: 10%;
    text-decoration: none;    
    /* background-color: #DFF8EB;
    border-radius: 12px;
    padding: .6%; */
    font-size: 14px;
}

.goNext {
    color: var(--white);
    text-decoration: none;
    /* margin-right: 10%; */
    text-align: center;
    text-align: right;
    font-size: 14px;
}

.blogPostDate {
    text-align: center;
    color: var(--title);
}

.blogPostContent {
    margin-left: 5%;
    color: var(--text);
    margin-right: 5%;
}

.blogPostContent h2, h3, h4 {
    color: var(--cream);
}

.blogPostContent li::marker {
    color: var(--red);
}

.blogPostContent strong {
    color: var(--red);
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: black;
    border-radius: 10px;
}