html {
    background-color: black;
}

:root {
    /* --peach: #feaea3; */
    --nameRed: #f30a49;
    --blueGray: #d5bdaf;
    --sectionColor: red;
    /* Another color pal */
    --deepBlue: #1d3557;
    --bgBlue: #457b9d;
    --anotherBlue: #355070;
    --lightBlue: #a8dadc;
    --white: #f1faee;
    --red: #e63946;
    --cream: #e0afa0;
    --title: #DBDBDB;
    --date: #feaea3;


    /* After UAB CS Switch */
    --UABGreen: #1E6B52;
    --background: white;
    --blogTitle: #F1F1F1;
    --links: #e63946;
    --ACM: #173A5D;
    --WIT: #4E2780;
    --text: black;
}